<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h1>  </h1>
 <ul>

     <% posts.forEach(function(currentPost) {%>
     <h2> <%= currentPost.dataValues.post %> </h2>
    <% }) %>
   

    </ul>
</body>
</html>