<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
		  <h1>New Post</h1> 	
		  	<form method="post" action="/posts">
		  		<input type="text" placeholder="Name" name="authorName"><br>
		  		<input type="textarea" placeholder="Blog Post" name="blogPost"><br>
		  		<input type="submit" value="Submit Post">
		  	</form>
</body>
</html>