<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Sign up time</h1>
		<p style="color:red;">
			<% if(message) {%>
			<%= message %>
			<% } %>
		</p>	

<form action="/create" method="post">
	<p>
		<label for="username">Username: </label>
		<input type="text" name="username" id="username" autofocus value="<%= username %>">
	</p>
	<p>
	<label for="password">Password: </label>
	<input type="password" name="password" id="password">
	</p>
	<p>
		<input type="submit" value="Sign me the fuck up!">
	</p>
</form>
</body>
</html>